﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/Css/My_css.css" rel="stylesheet" />
    <title>E4 VNEXPRESS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="top-bar">
        <div class="main-bar">
            <div class="contact-left">
                <a> (028) 3456789 </a>
                <a> (028) 3456789 </a>
                <button>Liên hệ quảng cáo</button>
                <button>Like</button>
                <button>Follow</button>
                <button>Youtube</button>
            </div>
            <div class="login-right">
                <button>Đăng nhập</button>
                <button>Đăng Ký</button>
                <input placeholder="Tìm kiếm" />
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="banner-container">
            <img src="~/Content/Images/Logo_Vnexpress.png" />
            <img src="~/Content/Images/banner-ads-1.png" />
            <img src="~/Content/Images/banner-ads-2.png" />
        </div>
        <div class="category-container">
            <button>Thời sự</button>
            <button>Thế giới</button>
            <button>Kinh doanh</button>
            <button>Giải trí</button>
            <button>Thể thao</button>
            <button>Pháp luật</button>
            <button>Giáo dục</button>
            <button>Sức khỏe</button>
            <button>Gia đình</button>
            <button>Du lịch</button>
            <button>Khoa học</button>
            <button>Số hóa</button>
            <button>Xe</button>
            <button>Cộng đồng</button>
            <button>Tâm sự</button>
            <button>Video</button>
            <button>Cười</button>
            <button>Rao vặt</button>
        </div>
        <div class="news">
            <div class="latest-news-container">
                <div class="first-part">
                    <img src="~/Content/Images/thumnails.png" />
                    <p style="color: red; font-size: 160%">
                        Trump and Clinton đối đầu nảy lửa trong cuộc tranh luận đầu tiên
                    </p>
                    <p>
                        Hai ứng viên chạy đua chức tổng thống Mỹ Trump and Clinton đối đầu nảy lửa
                        trong hàng loạt vấn đề
                    </p>
                </div>
                <div class="second-and third">
                    <div class="second-part">
                        <p>flex-start (default): items are packed toward the start of the flex-direction.</p>
                        <p>flex-end: items are packed toward the end of the flex-direction.</p>
                        <p>start: items are packed toward the start of the writing-mode direction</p>
                        <p>end: items are packed toward the end of the writing-mode direction.</p>
                    </div>
                    <div class="third-part">
                        <h3>Góc nhìn</h3>
                        <p>
                            This defines the default behavior for how flex items are laid out along the cross
                            axis on the current line. Think of it as the justify-content version for the cross-axis
                            (perpendicular to the main-axis).
                        </p>
                    </div>
                </div>
            </div>
            <div class="side-ads-container">
                <img src="~/Content/Images/right-ads-1.png" />
                <img src="~/Content/Images/right-ads-2.png" />
                <img src="~/Content/Images/right-ads-3.png" />
            </div>
        </div>

    </div>
</body>
</html>
